.container{
    background-color: antiquewhite;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(49, 48, 48);
}

.employee{
background-color: antiquewhite;
}

.card{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2px;
}
img{
    height: 50px;
    font-weight: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
}
.imga{
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
}

.words{
    width: 250px;
    background-color: antiquewhite;
    text-align: left;
}
.buton{
    text-align: center;
    background-color: antiquewhite;
    margin-top: 40px;
    
}
button{
    background-color: green;
    text-align: center;
    margin-right: 10px;
    color: aliceblue;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
}